#fp-nav.left {
	@media(--1024vp) {
		left: 0 !important;
	}
	& li {
		@media(--1200vp) {
			margin-bottom: 15px;
		}
	}
	& span {
		@media(--768vp) {
			display: none !important;
		}
	}
}

#fp-nav>ul li a,
#fp-nav>ul li a.active,
#fp-nav>ul li:hover a,
#fp-nav>ul li:hover a.active {
	& span {
		height: 12px;
		width: 12px;
		margin: -2px 0 0 -2px;
		background-color: var(--NeutralFour);
	}
}

#fp-nav>ul li a.active span,
#fp-nav>ul li:hover a.active span {
	background-color: var(--PrimaryOne);
}

#fp-nav>ul li:hover a span {
	background-color: var(--NeutralFive);
}

#fullscreen {
	& .contents {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--NeutralThree);
		position: relative;
		&:nth-child(2n) {
			background-color: var(--White);
			& .block-contain {
				background-color: transparent !important;
			}
		}
		& .fp-tableCell {
			display: flex;
			justify-content: center;
			align-items: center;
			& .block-contain {
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				background-color: var(--White);
				padding: 20px;
				width: 85vw;
				max-width: 1024px;
				margin-top: 100px;
				min-height: 60vh !important;
				height: 60vh !important;
				&>.block {
					text-align: center;
					& h1:first-child {
						margin-top: 0;
						@media(--515vp) {
							font-size: 44px;
						}
					}
					& h2 {
						font-size: responsive 36px 60px;
						font-range: 420px 1400px;
						&:first-child {
							margin-top: 0;
						}
						@media(--515vp) {
							font-size: 44px !important;
						}
					}
					& h3 {
						color: var(--PrimaryThree);
					}
					& a.button {
						margin: 25px 0 0 0;
					}
				}
			}
		}
	}
}

.we-feed {
	background-image: url('../images/hero-lemons-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-reeat;
	& .overlay {
		position: absolute;
		bottom: 78%;
		left: 50%;
		margin-left: -200px;
		width: 600px;
		height: 297px;
		background-image: url('../images/lemons-overlay.png');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		@media(--515vp) {
			bottom: 85%;
		}
	}
	& p {
		font-size: responsive 18px 22px;
		font-range: 420px 1400px;
		max-width: 450px;
		margin-left: auto;
		margin-right: auto;
	}
}

.why-del {
	background-image: url('../images/strawberry-bg.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	& p {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
}

.choose-del {
	& .overlay {
		position: absolute;
		z-index: 2;
		top: 0;
		bottom: 0;
		width: 20vw;
		max-width: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		&.left {
			left: 0;
			background-image: url('../images/veggies-left-side.png');
			background-position: right center;
			@media(--1024vp) {
				left: 0;
				right: 0;
				top: -10px;
				bottom: auto;
				height: 32%;
				width: 100%;
				max-width: 100%;
				background-image: url('../images/veggies-top-side.png');
				background-position: center bottom;
			}
		}
		&.right {
			right: 0;
			background-image: url('../images/veggies-right-side.png');
			background-position: left center;
			@media(--1024vp) {
				left: 0;
				right: 0;
				top: auto;
				bottom: -20px;
				height: 20%;
				width: 100%;
				max-width: 100%;
				background-image: url('../images/veggies-bottom-side.png');
				background-position: center top;
			}
		}
	}
	& .block * {
		position: relative;
		z-index: 2;
	}
	& h3 {
		margin: 50px 0 0 0;
		@media(--515vp) {
			margin: 0;
			font-size: responsive 14px 26px;
			font-range: 420px 1400px;
		}
	}
	& h2 {
		margin: .35em 0 1em 0;
		@media(--515vp) {
			margin: .35em 0;
		}
	}
}

.companies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	& .company {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33%;
		height: 100px;
		position: relative;
		& .swap {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: auto;
			height: 65px;
		}
		@media(--515vp) {
			width: 50%;
			&:last-of-type,
			&:nth-last-of-type(2) {
				display: none;
			}
		}
	}
	&+a.button {
		margin: 75px 0 50px 0 !important;
		@media(--1024vp) {
			margin: 20px 0 50px !important;
		}
		@media(--515vp) {
			display: none;
		}
	}
}

.in-season {
	background-image: url('../images/rhubarb-pie.png');
	background-size: contain;
	background-position: center right;
	background-repeat: no-repeat;
	@media(--1200vp) {
		background-position: center right -100px;
	}
	@media(--1024vp) {
		background-position: bottom -350px right -100px;
		background-size: 400px;
	}
	& .block-contain {
		@media(--768vp) {
			padding: 0 !important;
		}
	}
	& .block {
		text-align: left !important;
		transform: translatex(-18%);
		background-color: transparent !important;
		@media(--1024vp) {
			transform: none;
		}
		@media(--768vp) {
			padding: 0;
		}
		& h2 {
			@media(--1200vp) {
				margin-bottom: 0;
			}
			@media(--768vp) {
				text-align: center;
			}
		}
		& a.is-ghost {
			margin: 0 0 10px 100px !important;
			padding: 0 2em 0 0em;
			@media(--768vp) {
				margin: 20px auto !important;
				font-size: 1.2em;
			}
		}
		& .item {
			margin-bottom: 30px;
			@media(--1200vp) {
				margin-bottom: 15px;
			}
			&:last-child {
				margin-bottom: 0;
			}
			@media(--768vp) {
				margin-bottom: 25px;
				&:first-of-type a.button {
					display: none;
				}
			}
			& svg {
				width: 75px;
				display: inline-block;
				vertical-align: middle;
				@media(--515vp) {
					width: 45px;
					height: auto;
				}
			}
			& h3 {
				width: calc(100% - 80px);
				display: inline-block;
				margin: 0;
				padding-left: 25px;
				@media(--768vp) {
					width: calc(100% - 75px);
				}
			}
			& p {
				max-width: 600px;
				width: 100%;
				padding-left: 100px;
				margin: -20px 0 0 0;
				@media(--768vp) {
					display: none;
				}
			}
			& a.button {
				margin: 10px 0 0 100px !important;
				@media(--768vp) {
					margin: 8vh auto 0 auto !important;
					display: table;
				}
			}
		}
	}
}

.team-del {
	background-image: url('../images/meet-team-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-reeat;
	& .fp-tableCell {
		// margin-top: 150px !important;
	}
	& .overlay {
		position: absolute;
		right: -200px;
		bottom: -100px;
		width: 300px;
		height: 370px;
		background-image: url('../images/berry-overlay.png');
		background-size: cover;
		background-position: right bottom;
		background-repeat: no-repeat;
		@media(--768vp) {
			width: 125px;
			height: 155px;
			right: -70px;
			bottom: -80px;
		}
	}
	& img {
		position: absolute;
		width: 200px;
		hight: 200px;
		top: -100px;
		left: 50%;
		margin-left: -100px;
		border-radius: 50%;
		@media(--768vp) {
			display: none;
		}
	}
	& h2 {
		@media(--768vp) {
			margin-top: 0;
		}
	}
	& p {
		max-width: 800px;
		padding: 0 75px;
		@media(--768vp) {
			padding: 0;
		}
	}
	& a.button {
		@media(--515vp) {
			margin-top: 0 !important;
		}
	}
}