.is-hidden {
	display: none
}

button.featherlight-close {
	min-width: 0;
	margin: 0;
	&:focus {
		outline: 1px solid blue !important;
	}
}

.featherlight .featherlight-content {
	padding: 60px 60px 40px 60px !important;
	border: none !important;
	max-width: 90vw;
	&.is-activated {
		background: blue;
	}
}

#order-modal {
	text-align: center;
	& h3 {
		margin: 0;
	}
	& p {
		max-width: 300px;
		margin: 1em auto;
		display: block;
	}
	& a.button {
		font-size: 14px;
		@media(--768vp) {
			margin-right: 0;
		}
	}
	& a:nth-of-type(2) {
		margin-right: 0;
	}
	& a:last-of-type {
		display: table;
		margin: 1em auto;
		font-size: 14px;
	}
}