/*-----------------------------------------
    FOOTER
-----------------------------------------*/
footer.site-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: var(--PrimaryFour);
	padding: 20px 0;
	@media(--515vp) {
		padding: 10px 0;
	}
	& > .block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		max-width: 600px;
		width: 90vw;
		@media(--1024vp) {
			justify-content: flex-start;
		}
		& p {
			font-size: responsive 12px 14px; 
			font-range: 420px 1400px;
			text-align: right;
			& a {
				color: var(--Black);
				font-size: inherit; 
			}
		}
		& > .block:first-child, & > .block:last-child {
			//width: calc(50% - 100px);
			width: 50%;
		}
		& > .block {
			@media(--1024vp) {
				width: auto !important;
				&:last-child {
					& p {
						text-align: left;
						padding: 0 10px;
						margin: 5px 0 0 0;
					}
					@media(--768vp) {
						width: 100%;
						& p br {
							display: none;	
						}
					}
				}
			}
		}
	}
}

/*-----------------------------------------
		ELEMENT5 CREDIT LINK
		the svg is controlled by element5
-----------------------------------------*/
#element5-credit {
	position: absolute;
	right: 0;
	top: 20px;
	bottom: auto;
	width: 170px;
	height: 45px;
	padding-left: 0;
	overflow: hidden;
	transition: all .5s ease-in-out;
	@media(--515vp) {
		top: 5px;
	}
}