/*-------------------------------------------------------------------
---------------------------------------------------------------------

  GREAT ANIMATION RESOURCES
  https://daneden.github.io/animate.css/
	http://ianlunn.github.io/Hover/

---------------------------------------------------------------------
-------------------------------------------------------------------*/


/*-----------------------------------------
    ENTRANCE/EXIT ANIMATION CLASSES
-----------------------------------------*/
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*-----------------------------------------
    FADE IN UP
-----------------------------------------*/
	@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: .5s;
  animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}