/*-----------------------------------------
    FONTS
-----------------------------------------*/

/*-----------------------------------------
    HEADINGS
-----------------------------------------*/
h1, h2, h3, h4, h5, h6,
.widget h1, .widget h2, .widget h3,
.widget h4, .widget h5, .widget h6 {
	font-family: var(--HeadCopy);
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 1em 0 .35em 0;
}
h1, .widget h1 { 
	font-size: responsive 35px 60px; 
	font-range: 420px 1400px;
}
h2, .widget h2 {  
	font-size: responsive 28px 40px; 
	font-range: 420px 1400px;
}
h3, .widget h3 {  
	font-size: responsive 20px 26px; 
	font-range: 420px 1400px;
}
h4, .widget h4 {  
	font-size: responsive 18px 20px; 
	font-range: 420px 1400px;
}
h5, .widget h5 {  
	font-size: responsive 18px 18px; 
	font-range: 420px 1400px;
}
h6, .widget h6 {  
	font-size: responsive 16px 16px; 
	font-range: 420px 1400px;
}

/*-----------------------------------------
    BODY COPY
-----------------------------------------*/
p, time, address {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	line-height: 1.5;
}
ol, ul {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
  padding-left: 1rem;
}
li {  
	font-family: var(--BodyCopy);
}
a {
	font-family: var(--BodyCopy);
	font-size: responsive 14px 18px; 
	font-range: 420px 1400px;
	color: #82b700;
  &:hover, &:focus, &:active{

  }
}
hr {
  height: 2px;
  margin: 16px 0;
  background: var(--NeutralTwo);
  border: none;
}
blockquote, q {
	position: relative;
  margin: 2rem auto;
	width: 90%;
  padding: 50px 1.5rem 1.5rem 1.5rem;
	box-shadow: 0 8px 23px 0 rgba(0,0,0,0.08);
	font-family: var(--BodyCopy);
	text-align: center;
	&::after {
		content: '“';
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		font-family: var(--BodyCopy);
		color: var(--PrimaryTwo);
		font-size: 80px;
	}
}
pre {
	margin-bottom: 0;
	& + .click-to-copy {
		text-decoration: underline;
		font-size: responsive 14px 14px; 
		font-range: 420px 1400px;
	}
}
code {
	background: #272822;
	color: #e5e5e5;
	display: inline-block;
	padding: .75rem .5rem;
	font-size: responsive 12px 12px; 
	font-range: 420px 1400px;
	max-width: 100%;
	max-height: 200px;
	overflow: auto;
}