/*-----------------------------------------
    PRIMARY NAVIGATION
-----------------------------------------*/

.home nav.nav-primary::after {
	width: 0;
	height: 0;
}

.fp-viewing-0 nav.nav-primary::after {
	width: 300px;
	height: 100px;
}

nav.nav-primary {
	position: fixed;
	width: 100%;
	display: flex;
	display: block;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0 10px #888888;
	background-color: var(--White);
	padding: 20px 3vw;
	z-index: 10000;
	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%) rotate(180deg);
		background: radial-gradient(ellipse at 50% 100%, rgba(0, 0, 0, .5) 0, hsla(0, 0%, 100%, 0) 65%);
		width: 300px;
		height: 100px;
		z-index: -1;
		transition: all .35s linear;
	}
	@media(--768vp) {
		padding: .5em;
	}
	& a {
		min-width: 0;
		margin: 0;
		&:last-of-type {
			float: right;
		}
		& span {
			background-color: transparent;
			margin: 0;
		}
		& svg {
			display: none;
		}
		@media(--768vp) {
			padding: 1em;
			& span {
				display: none
			}
			& svg {
				display: block;
			}
		}
	}
	& a.brand {
		position: absolute;
		padding: 0;
		top: 20px;
		left: 50%;
		transform: translateX(-50%);
		@media(--768vp) {
			top: 10px;
		}
		& img,
		& svg {
			display: block !important;
			height: 125px !important;
			& path:last-child {
				opacity: 1;
			}
		}
	}
}

.home.fp-viewing-0 nav.nav-primary a.brand {
	top: 20px;
	@media(--768vp) {
		top: 10px;
	}
	& img,
	& svg {
		display: block !important;
		height: 125px !important;
		& path:last-child {
			opacity: 1;
		}
	}
}

.home nav.nav-primary a.brand {
	top: 10px;
	transition: all .35s linear;
	& img,
	& svg {
		display: block !important;
		height: 90px !important;
		transition: all .35s linear;
		@media(--768vp) {
			height: 110px !important;
		}
		& path:last-child {
			opacity: 0;
			transition: all .35s linear;
		}
	}
}