/*-----------------------------------------
  	META DATA
-----------------------------------------*/
article footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	max-width: 80vw;
	margin: 16px auto;
	padding: 8px;
	background-color: var(--NeutralOne);
	& > * {
		margin: 0 14px;
		display: inline-block;
		&:first-child {
			margin-left: 0;
		}
	}
}

/*-----------------------------------------
  	POST
-----------------------------------------*/
.post-preview {
	width: 49%;
	&:nth-child(odd) {
		margin: 2.5vh 1% 2.5vh 0;
	}
	&:nth-child(even) {
		margin: 2.5vh 0 2.5vh 1%;
	}
	@media (--768vp) {
		width: 100%;
	}
	& > a {
		text-decoration: none;
		color: inherit;
	}
	& .featured-image {
		height: 35vh;
		width: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media (--1024vp) {
			height: 20vh;
		}
	}
	& h2 {
		margin: .35em 0;
	}
}

/*-----------------------------------------
  	SEARCH
-----------------------------------------*/
.search-feed {
	& .post-preview {
		& .search-term {
			padding: 0 .35rem;
			background: var(--PrimaryTwo);
		}
	}
}