/*-----------------------------------------
  	WPDISCUZ OVERRIDES
-----------------------------------------*/
.comments-area{
	width: auto;
}
.wc_editable_comment{
	disply: none;
}
#wpdiscuz-loading-bar {
	display: none !important;
}
#wpcomm .wc_notification_checkboxes input[type="checkbox"], 
#wpcomm .wc_notification_checkboxes input[type="radio"] {
	display: inline-block;
	width: 14px;
	height: 14px;
}
#wpcomm .wc-comment-label {
	display: none;
}
.comments-area {
	width: 80vw !important;
	margin: 10vh auto 5vh auto;
	overflow: hidden !important;
	@media (--1024vp) {
		width: 90vw !important
	}
	& > h3 {
		padding: 0 !important;
		max-width: 100% !important;
	}
	& #wpcomm {
		max-width: 100%;
	}
}