/*-----------------------------------------
    POST FEED
-----------------------------------------*/
.feed {
	display: flex;
	flex-wrap: wrap;
}

/*-----------------------------------------
  	PAGINATION
-----------------------------------------*/
.pagination, .posts-navigation {
	display: none;
}

/*-----------------------------------------
    INFINITE SCROLL
-----------------------------------------*/
.page-load-status {
	width: 85vw;
	display: none;
  margin: 5vh auto;
	padding: 2vh 0;
  border-top: 1px solid var(--NeutralThree);
  color: var(--NeutralThree);
	text-align: center;
	& p {
		margin: 0;
	}
}
svg.loading path {
	fill: var(--PrimaryOne);
}
.load-more {
	margin: 5vh auto;
	display: none;
}