/*-----------------------------------------
   POST TITLES
-----------------------------------------*/
header.post-title {
	width: 100%;
	background-color: var(--NeutralTwo);
	padding: 5vh 0;
	& > h1 {
		margin: 0 auto;
		width: 80vw;
		@media (--1024vp) {
			width: 90vw;
		}
	}
}