/*-----------------------------------------
   PAGE TITLES
-----------------------------------------*/

header.page-title {
	width: 100%;
	height: 400px;
	margin-bottom: 25px;
	align-items: flex-end;
	justify-content: center;
	position: relative;
	display: flex;
	background-color: var(--NeutralTwo);
	background-image: url('../images/hero-lemons-bg.jpg');
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	overflow: hidden;
	&>h1 {
		max-width: 800px;
		width: 90vw;
		margin-bottom: 0;
		padding: 100px 0 0 0;
		text-align: center;
		background-color: var(--White);
	}
	& .overlay {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -350px;
		width: 600px;
		height: 297px;
		background-image: url('../images/lemons-overlay.png');
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
	}
}

.error404 header.page-title,
.page-template-thankyou header.page-title {
	min-height: calc(100vh - 100px);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-image: url('../images/meet-team-bg.jpg');
}